{{!-- handlebars header --}}
<div class="header">
    <h1>Welcome to Handlebars</h1>
    <p>Handlebars is a simple templating language</p>
    <nav>
        <div class="content">
        <a href="/user">User not_found</a>
        <a href="/user?id=1234&nombre=Pepe">User</a>
        <a href="/products">Products</a>
        <a href="/create_user">Create User</a>
        <a href="/astucia/No contaban con mi astucia !!!">Astucia</a>
    </div>
    </nav>
</div>